<div class="col-xs-10 col-xs-offset-1 about">
<h1 style = "text-align: center"> About Splurty </h1>
<br class="clear" />

<div class="col-xs-12 col-sm-12">
<p style="padding-bottom: 40px">
Splurty is a collection of quotes from various founders and entrepreneurs. Please feel free to add any others that inspire you.
</p>
</div>
<br class="clear" />
<div class="col-xs-12 col-sm-4" style="padding-top: 30px">
<%=image_tag 'Headshot.JPG', :class => 'img-responsive' %>
</div>

<div class="col-xs-12 col-sm-7 col-sm-offset-1">
	<h2 class="text-align: left"> Abiy Kaltiso </h2>
</div>

<p> <a target="_blank" href="https://github.com/Abiy-Kaltiso/reach"> Abiy</a> is a recent GSU grad and an aspiring web developer. He is currently enrolled in a coding bootcamp throught <a target="_blank" href="http://www.thefirehoseproject.com/"> The Firehose Project.</a> His passions include: startups, hip-hop, theology, sports, and philanthropy</a> 
</P>



</div> 